body{
    margin: 5px;
    margin-right: 600px;
    border: 5px solid red;
    padding: 10px;
}
h5{
    margin: 5px;
    margin-right: 20px;
    border: 5px solid red;
    padding: 10px;  
}
ul{
    margin: 5px;
    margin-right: 20px;
    border: 5px solid red;
    padding: 0px;
}
ul li{
    margin: 5px;
    margin-right: 20px;
    border: 5px solid red;
    padding: 4px;
}

p button,a{
    margin: 5px;
    margin-right: 0px;
    border: 5px solid red;
    padding: 2px; 
}